:root {
    --corDestaque: rgb(0, 181, 187);
    --corDestaqueSombra: rgba(0, 181, 187, 0.5);
}

.consultaConteiner {
    height: 100vh;
    display: grid;
    place-items: center;
    gap: 1rem 0;
}

#formConsulta, .resultadoConteiner {
    box-shadow: 0px 0px 4px 1px var(--corDestaqueSombra);
    border: 1px solid var(--corDestaque);
    padding: 3rem 2rem;
    border-radius: 5px;
}

.resultadoConteiner--oculto {
    display: none !important;
}

.etiqueta {
    display: block;
    width: max-content;
    cursor: pointer;
    margin-bottom: .3rem;
}

.cepArea__entradaDados {
    padding: .65rem 1rem;
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
    margin-bottom: 2rem;
}

.cepArea__entradaDados:is(:focus, :active) {
    border-color: var(--corDestaque);
    box-shadow: 0px 0px 3px 1px var(--corDestaqueSombra);
}

#campoErro {
    color: red;
}

#formConsulta__btnEnviar {
    display: block;
    padding: .8rem 1.7rem;
    border: 1px solid var(--corDestaque);
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
    color: var(--corDestaque);
    font-weight: bold;
    background-color: transparent;
    transition: .3s all ease-in-out;
}

#formConsulta__btnEnviar:hover {
    color: white;
    background-color: var(--corDestaque);
}

.tituloResultado {
    margin-bottom: 1rem;
}

.itemListaResultado {
    line-height: 1.8;
}

@media only screen and (min-width: 0) {
    #formConsulta, .resultadoConteiner {
        width: 250px;
    }
}

@media only screen and (min-width: 320px) {
    #formConsulta, .resultadoConteiner {
        width: 300px;
    }
}

@media only screen and (min-width: 768px) {
    #formConsulta, .resultadoConteiner {
        width: 500px;
    }
}

@media only screen and (min-width: 990px) {
    #formConsulta, .resultadoConteiner {
        width: 600px;
    }
}

@media print {
    #formConsulta {
        display: none !important;
    }

    .resultadoConteiner {
        width: 800px;
        box-shadow: none;
        border: 1px solid black;
    }
}